* {
    margin: 0;
    padding: 0;
}

body.mceContentBody { background: #ffffff; }
body.mceContentBody { padding-left: 10px;  }

html { height: 100%; }

body {
    height: 100%; 
    background: #ebeaef;
}

#outer  { width: 940px; margin: 0 auto; }

#header { width: 680px; clear: both; float: right; padding-top: 5px; }

#menu { width: 100px; float: left; list-style: none; margin: 0; padding: 0; }
#menu li { display: inline; margin: 0; padding: 0; }

#searchform { width: 220px; float: left; }
#advancedsearch { width: 150px; float: left; }

#languages { width: 100px; float: right; list-style: none;  margin: 0; padding: 0; }
#languages li { display: inline;  margin: 0; padding: 0; float: right; }

#left_bar { width: 220px; float: left; }
#logo { background: url("images/logo.png") no-repeat; height: 146px; width: 220px; }
#categorys { width: 190px; display: block; background: #000000; padding: 25px 0 0 30px; }
#categorys li { list-style: none; }
#categorys li a { list-style: none; color: #F6921E; }

#left_cart { background: url("images/orange_tile.png") repeat-y; height: 99px; width: 190px; padding: 0 0 0 30px; }
#left_bottom { background: url("images/orange_bottom.png") no-repeat; height: 99px; width: 220px; }

#right_bar { width: 680px; float: right; }
#right_top { width: 680px; height: 146px; background: url("images/white_top.png") no-repeat; }
#right_content{ width: 640px; padding: 0 20px; min-height: 500px; background: #ffffff; }
#right_bottom { width: 680px; height: 99px; background: url("images/white_bottom.png") no-repeat; }

#footer { width: 680px; clear: both; float: right; }

/* Netscape 4 safe font sizes */
p, th, td, li, dd {
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
  font-size: 14px;
  margin-bottom: 18px; 
}
p.nomargin {
  margin-bottom: 6px; 
}
ul {
    margin-top: -12px;
    margin-bottom: 18px; 
}
li {
    margin-bottom: 6px; 
}
li ul {
    margin-top: 3px;
    margin-bottom: 3px; 
}

a { color: #006699;  text-decoration:none; }
a:hover { color: #000000;}
a img { border: none; }


form { margin-bottom: 18px;  }
table { margin-bottom: 18px; border-collapse: collapse; } 

ul { margin-left: 16px; }

h1 {  font-size: 160%; font-family: arial; color: #0095c1; margin-bottom: 18px; font-weight: normal; line-height: 100%;}
h2 {  font-size: 140%; font-family: arial; color: #0095c1; margin-bottom: 18px; font-weight: normal; }
h3 { font-size: 120%; font-family: arial; color: #000000; margin-bottom: 18px; font-weight: normal; }
h4 { font-size: 110%; font-family: arial; font-weight: bold; color: #000000;  margin-bottom: 18px; }

th, td { padding: 2px; }
th { text-align: left; }
td { vertical-align: top;  }

dl.horizontal { 
    padding: 0.5em;
} 

dl.horizontal dt { 
    float: left;
    clear: left;
    width: 150px;
    font-weight: bold;
    }
dl.horizontal dd {
    margin: 0 0 0 155px; 
    padding: 0 0 0.5em 0;
}

dl.horizontal dt.cleared, dl.horizontal dd.cleared { clear: both; width: 100%; margin: 0; text-align: center; }

form dl, form table { 
    padding: 0em;
}
    
form dl dt, form table tbody tr th {
    vertical-align: top;
    padding: 0 0 0em 0.3em;
    font-weight: bold;
    font-size: 80%; font-family: arial; 
    }
form dl dd, form table tbody tr td {
    padding: 0 0 0em 0.3em;
}

form table tbody tr td, form table tbody tr th { padding-top: 0.3em; border-top: solid 2px white; }
form table tbody tr.skille td, form table tbody tr.skille th { border-top: solid 3px #00ff00;; }

form dl dt.cleared, dl dd.cleared { clear: both; width: 100%; margin: 0; text-align: center; }

form dl dd ul, form table tbody tr td ul { margin-top: 0.2em; }
form dl dd p, form table tbody tr td p { margin-bottom: 0em; }

form dl dd ul li, form table tbody tr td li { color: #ff0000; }
form dl dd ul li, form table tbody tr td li, form dl dd p, form table tbody tr td p { font-size: 90%; font-family: arial;  }
form dl dt.errors, dl dd.errors, form table tbody tr td.errors, form table tbody tr th.errors { background: #ffcccc; }


.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */om IE-mac */

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

.highlighted { background-color: yellow; }