Django==1.3
PIL
South
django-reversion==1.4
django-mptt==0.5.2
-e git+git://github.com/toastdriven/django-haystack.git#egg=django-haystack
-e git+git://github.com/toastdriven/pyelasticsearch.git#egg=pyelasticsearch
-e git+git://github.com/divio/django-shop.git#egg=django-shop
django-cms
djangocms-utils
django-cms-facetsearch
cmsplugin-blog
cmsplugin-blog-search
simple-translation
django-categories
django-filer
django-pagination
django-tagging
django-tinymce
django-celery==2.2.7
python-memcached
cmsplugin-filer==0.8.0
easy-thumbnails==1.0-alpha-16
gunicorn
psycopg2
django-rosetta
celery-haystack
BeautifulSoup==3.2.0
FeinCMS